In [21]:
import pandas as pd
import os
import sklearn

df = pd.read_csv(os.path.join('olym_treated_NoNaN_train.csv'))

df.index = df['ID']
df.drop('ID',axis=1,inplace=True)
df.drop('Name',axis=1,inplace=True)
df.head()

,Sex,Age,Height,Weight,Team,NOC,Games,Year,City,Sport,Event,Medal
ID,,,,,,,,,,,,
0,0,29.0,170.0,68.0,Canada,CAN,1,2008,Beijing,Softball,Softball Women's Softball,
1,0,32.0,179.0,89.0,France,FRA,0,1998,Nagano,Ice Hockey,Ice Hockey Men's Ice Hockey,
3,0,22.0,181.0,79.0,Great Britain,GBR,0,1988,Calgary,Alpine Skiing,Alpine Skiing Men's Super G,
5,0,22.0,162.0,57.0,Australia,AUS,1,2008,Beijing,Badminton,Badminton Women's Singles,
6,0,25.0,183.0,81.0,Great Britain,GBR,1,1992,Barcelona,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",

In [15]:
#functions for parsing
def Set_Sex_binary(df):  #0 is for males and 1 for females 
   Bina_sex = lambda x : int(x == 'F')  
   df['Sex'] =  df['Sex'].apply(Bina_sex)
   return df

In [23]:
df2 = pd.read_csv(os.path.join('olymp_train_OG.csv'))

df2 = Set_Sex_binary(df2)
#df2["Sex"].unique()

df["Sex"] = df2["Sex"].copy()
#df.head()
df["Sex"].unique()

array([1, 0], dtype=int64)

In [24]:
#categorical data encoder from sklearn
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

categorical_columns =['Team','NOC','City','Sport','Event','Medal']
print(df.shape)
flag = True
for col in categorical_columns:
     df[col] = encoder.fit_transform(df[col]) 
     #print(encoded_df.head())
     #df[col] = encoded_df.columns
     #df = df.drop(col, axis=1)
     #df = pd.concat([df, encoded_df], axis=1)
df.head()

(36542, 12)

,Sex,Age,Height,Weight,Team,NOC,Games,Year,City,Sport,Event,Medal
ID,,,,,,,,,,,,
0,1,29.0,170.0,68.0,64,35,1,2008,6,40,413,0
1,0,32.0,179.0,89.0,132,67,0,1998,24,25,283,0
3,0,22.0,181.0,79.0,151,72,0,1988,8,0,4,0
5,1,22.0,162.0,57.0,22,12,1,2008,6,4,94,0
6,0,25.0,183.0,81.0,151,72,1,1992,5,11,141,0

In [11]:
#this cell is used to load changes into the newest_updated_csv file

df.to_csv('olymp_LabelEnco__newest_treated.csv', index=False)